
@import 'src/app/theme/sass/conf/_variables.scss';

:host /deep/ {

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $siga-grey-saisi;
}
}
.container {
  cursor: pointer;
 display: inline-block;
 margin-top: -4px;
 margin-left: -17px;
 margin-bottom: -12.5rem;
 margin-right: 17px;
   position: center;
   padding-top: 10px;
   padding-left:21px;
   padding-bottom: 20px;
   padding-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}