
.warningIconColor {
  color: orange;
  position: relative;
  left: -100px;
  top: 22px;
}

img{
  width: 25px;
}

.sizebuttonSave {
  width: 120px;
  position: relative;
  left: -10px;
  }
  
.sizebuttonLeave {
  width: 110px;
  }
  
.sizebuttonCancel {
  width: 110px;
  position: relative;
  right: -10px;
  }
  