<div fxLayout="row">
    <!-- Libelle CI -->
    <div fxLayout="column" fxLayoutAlign="end center" class="session-type">
        <span fxFlex="20"></span>
        <span class="siga-position-CI">CI</span>
      </div>
  <mat-form-field fxFlex="100" class="temp-fix-error-display">
    <input matInput  autocomplete="off"  class="siga-position-year"
    [ngClass]="{'siga-error' :errorYear}"
      [formControl]="control" [ngModel]="value" (blur)="onBlur(control)" maxlength="4"  minlength= "4" tabindex="{{index_tab_annee}}">
       </mat-form-field>
</div>