@import 'src/app/theme/components/siga-utils-style.scss';
.siga-position-CI {
    margin-bottom: 1px !important;
     margin-right: 5px !important;
}
.siga-position-year{
    width: 33px !important;
}