
input {
text-align:center;


}
/deep/ {
  .width-input-select-prev {
    width: 50px; 
    max-width: 55px;
  }
  .mat-select-panel {
    min-width: 112px;
    max-width: 800px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 256px;
}

  .mat-autocomplete-panel.mat-autocomplete-visible {
    width: 300px;
  }
} 

