@import 'src/app/theme/sass/conf/_variables.scss';

input {
  text-align:center;
}

/deep/ {
  .mat-autocomplete-panel.mat-autocomplete-visible {
    width: 300px;
  }
}
.disabled-col {
  color:  $siga-grey-disable;;
}

/deep/ {
  .width-input-select-ouvrage{
    width: 70px; 
    max-width: 75px;
  }
  .mat-select-panel {
    min-width: 112px;
    max-width: 800px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 256px;
    font-size: 1.1em !important;
  
  }
  }