@import 'src/app/theme/components/siga-tableau-component.scss';
// @import 'src/app/theme/sass/conf/_variables.scss';


:host /deep/ {

  .table-spec { 
    table {
      border-collapse: inherit !important; 
      table-layout: fixed !important;
    }

    th,td {
      border: none !important;
      border-bottom: 1px solid rgba(102, 102, 102, .42) !important;
      &:not(:first-child) {
        text-align: left;
        }
    } 

    td:nth-child(1) {
      line-height: 30px;
     } 
     td:nth-child(5) {
      color:  $siga-grey-disable !important;
     } 

     th {
      font-weight:  $siga-grey-disable;
    }
  }

  ng2-smart-table {
    a.ng2-smart-sort-link {
      font-size: 2.2em !important;
    }
  }
}
.block {
  text-align: right !important;
}