@import 'src/app/theme/components/siga-utils-style.scss';
@import 'src/app/theme/components/siga-tableau-component.scss';
@import 'src/app/theme/components/siga-tooltip.scss';
@import 'src/app/shared/common-style/siga-criteres-common-style.scss';
@import 'src/app/theme/sass/conf/_variables.scss';
.mat-select-arrow-up {
  border-top: 0px;
  border-left: $mat-select-arrow-size solid transparent;
  border-right: $mat-select-arrow-size solid transparent;
  border-bottom: $mat-select-arrow-size solid;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  padding-bottom: 2px !important;
}
.margin{
  margin-left: 2%;
}
.space-around{
  margin-bottom : 30px;
}
.siga-icon-info{
  margin-top : 18px !important;
  font-size: 16px !important;
  color: $siga-grey-saisi;
}
