<mat-card>
  <form novalidate (ngSubmit)="onSubmit(true)" [formGroup]="formCritere" (keydown.enter)="$event.preventDefault()">
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <!-- Thématique -->
        <mat-form-field fxFlex="10">
          <div fxLayout="row">
            <input id="thematique" matInput placeholder="Thématique" [matAutocomplete]="thematicAutoComplete"
              formControlName="thematique" tabindex="1">
            <mat-autocomplete class="thematiqueOptionsClass" #thematicAutoComplete="matAutocomplete" [displayWith]="displayThematique"
              [autoActiveFirstOption]="true">
              <mat-option *ngFor="let thematique of filteredThematiques | async; trackBy: trackById" [value]="thematique">
                <span> {{thematique.code}} </span>
                <span> - </span>
                <span> {{thematique.libelle}} </span>
              </mat-option>
            </mat-autocomplete>
            <div class="mat-select-arrow-wrapper">
              <div class="mat-select-arrow" [ngClass]="{'mat-select-arrow-down': !thematicAutoComplete.isOpen, 'mat-select-arrow-up': thematicAutoComplete.isOpen}"></div>
            </div>
          </div>
          <button class="space-close" mat-button *ngIf="thematiqueControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="thematiqueControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="!thematiqueControl.hasError('required') && thematiqueControl.touched && thematiqueControl.hasError(thematiqueValidatorKey)">
            <strong>
              {{'messages.erreurChoixOption' | translate}}
            </strong>
          </mat-error>
        </mat-form-field>
        <!-- Procédure de décision -->
        <mat-form-field fxFlex="13" class="temp-fix-error-display">
          <div fxLayout="row">
            <input id="procedureDecision" matInput placeholder="Procédure décision *" [matAutocomplete]="procedureDecisionAutoComplete"
              formControlName="procedureDecision" tabindex="2">
            <div class="mat-select-arrow-wrapper">
              <div class="mat-select-arrow" [ngClass]="{'mat-select-arrow-down': !procedureDecisionAutoComplete.isOpen, 'mat-select-arrow-up': procedureDecisionAutoComplete.isOpen}"></div>
            </div>
          </div>
          <button class="space-close" mat-button *ngIf="procedureDecisionsControl.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="clearDisplayedDataProcedure()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="!procedureDecisionsControl.hasError('required') && procedureDecisionsControl.touched && procedureDecisionsControl.hasError(procedureValidatorKey)">
            <strong>
              {{'messages.erreurSelection' | translate}}
            </strong>
          </mat-error>
          <mat-error *ngIf="procedureDecisionsControl.hasError('required')">
            <strong>
              {{'messages.recherche' | translate}}
            </strong>
          </mat-error>
          <mat-hint *ngIf="procedureDecisionsControl.value === ''" class="colorText">
            <strong>
              {{'messages.recherche' | translate}}
            </strong>
          </mat-hint>


          <mat-autocomplete (optionSelected)="onSessionSelect($event)" #procedureDecisionAutoComplete="matAutocomplete"
            [displayWith]="displayProcedureDecision" [autoActiveFirstOption]="true">
            <mat-option *ngFor="let procedureDecision of filteredProcedures | async; trackBy: trackById" [value]="procedureDecision">
              <span> {{procedureDecision.code}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Année - n° -->
        <mat-form-field fxFlex="8.5">
          <div fxLayout="row">
            <input matInput placeholder="Année - n°" [matAutocomplete]="sessionDecisionAutoComplete" formControlName="session"
              tabindex="12">
            <div class="mat-select-arrow-wrapper">
              <div class="mat-select-arrow" [ngClass]="{'mat-select-arrow-down': !sessionDecisionAutoComplete.isOpen, 'mat-select-arrow-up': sessionDecisionAutoComplete.isOpen}"></div>
            </div>
          </div>
          <button class="space-close" mat-button *ngIf="sessionControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearDisplayedDataSession()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="!sessionControl.hasError('required') && sessionControl.touched && sessionControl.hasError(sessionValidatorKey)">
            <strong>
              {{'messages.erreurSelection' | translate}}
            </strong>
          </mat-error>
          <mat-autocomplete class="sessionDecisionOptionsClass" #sessionDecisionAutoComplete="matAutocomplete"
            [displayWith]="displaySessionDecision" [autoActiveFirstOption]="true">
            <mat-option *ngFor="let sessionDecision of filteredSessions | async; trackBy: trackById" [value]="sessionDecision">
              <span> {{sessionDecision.annee}}</span>
              <span>-</span>
              <span> {{sessionDecision.numero}} </span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Phase -->
        <mat-form-field fxFlex="6">
          <div fxLayout="row">
            <input matInput placeholder="Phase" [matAutocomplete]="phaseAutoComplete" formControlName="phase" tabindex="7">
            <mat-autocomplete #phaseAutoComplete="matAutocomplete" [displayWith]="displayPhase" [autoActiveFirstOption]="true">
              <mat-option *ngFor="let phase of filteredPhases | async; trackBy: trackById" [value]="phase">
                <span> {{phase.code}} </span>
              </mat-option>
            </mat-autocomplete>
            <div class="mat-select-arrow-wrapper">
              <div class="mat-select-arrow" [ngClass]="{'mat-select-arrow-down': !phaseAutoComplete.isOpen, 'mat-select-arrow-up': phaseAutoComplete.isOpen}"></div>
            </div>
          </div>
          <button class="space-close" mat-button *ngIf="phaseControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="phaseControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="phaseControl.touched && phaseControl.hasError(phaseValidatorKey)">
            <strong>
              {{'messages.erreurSelection' | translate}}
            </strong>
          </mat-error>
        </mat-form-field>
        <!-- Date attribution -->
        <div fxFlex="18" fxLayout="row">
          <mat-form-field fxFlex="78">
            <input autocomplete="off" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="date" placeholder="Date d'attribution *"
              formControlName="dateAttribution" tabindex="5">
            <mat-datepicker-toggle id="dateAttribution" matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>

            <mat-hint *ngIf="dateControl.value === ''" class="colorText">
              <strong>
                {{'messages.dateAttributionReq' | translate}}
              </strong>
            </mat-hint>
            <mat-error *ngIf="dateControl.hasError('matDatepickerParse')">
              <strong>
                {{'messages.erreurDateValid' | translate}}
              </strong>
            </mat-error>
            <mat-error *ngIf="dateControl.hasError('wrongFormat')">
              <strong>
                {{'messages.erreurDateFormat' | translate}}
              </strong>
            </mat-error>
            <mat-error *ngIf="dateControl.hasError('matDatepickerMin')">
              <strong>
                {{'messages.messageMinDateAttribution' | translate}} {{this.dateDerniereAttribution}}
              </strong>
            </mat-error>
            <mat-error *ngIf="dateControl.hasError('matDatepickerMax')">
              <strong>
                {{'messages.erreurLimitSupDate' | translate}}
              </strong>
            </mat-error>
          </mat-form-field>
          <div>
            <mat-icon class="siga-icon-info" matTooltip="Date dernière attribution : {{dateDerniereAttribution}}"
              [matTooltipClass]="'tooltip-general'">info</mat-icon>
          </div>
        </div>
        <!-- Rechercher -->
        <span fxFlex="6">
          <button id="recherche" mat-raised-button [disabled]="submitted || procedureDecisionsControl.hasError('required') || procedureDecisionsControl.hasError(procedureValidatorKey) || phaseControl.hasError(phaseValidatorKey) || sessionControl.hasError(sessionValidatorKey)"
            type="submit" fxFlex="30" tabindex="6" (keydown.enter)="onSubmit(true)">
            <em class="ion-search" [ngClass]="{'siga-form-confirm': formCritere.valid  }"></em>
          </button>
        </span>
      </div>
    </div>
  </form>

  <div class="siga-spacing-bottom"></div>
</mat-card>
<div class="siga-spacing-bottom"></div>